/.idea/
/mi.iml
/mci.iml
/prakt/m1/baAbt.pdf
/prakt/m1/baAbt_sk.pdf
/prakt/m1/m1.zip
*.odt.gradle
**/build/
!src/**/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
